@font-face { font-family: Gen; src: url('GenBasI.ttf'); } 
* {
	font-family: Gen;
}
.can svg.canvas {
	width: 99%;
	height: 99%;
}
.MainSquare {
	width: 99%;
	position: fixed;
	height: 50%;
	border-color: red;
	border-width: 10;
	background-color: Black;
	top: 200;
}